:root {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.headline {
  color: #e1624f;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #1b1b1b;
}

#subtitle {
  font-style: italic;
}

.content-card span {
  font-weight: 700;
}

ul {
  font-weight: 700;
}

ul li {
  color: #0c51a7;
}

#accent-purple {
  color: #591b98;
}

ul li + li {
  color: #e5245e;
}

ul li + li + li {
  color: #e95e10;
}
